@import 'mixins';
@import 'variables';


.brand-page-content {
	max-width: 600px;
	margin: 0px auto;
	.brand-banner { 
		margin: 0px auto;
		width: 100%;
	}
	.banner-title { padding-top: 15px; }
	.prod-renderer-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		grid-gap: 10px;
		@include prod_renderer_4_in_row();
	}	
}