@import 'mixins';
@import 'variables';

.carousel {
	.jumbotron {
		margin: 2em;
		background-color: white;
		opacity: 0.9;
		height: 200px;
		h5 {
			padding-top: 1vw;
			font-size: 26px;
			color: #000001;
			text-shadow: 2px;
			text-align: center;
		}
		p {
			font-size: 16px;
			color: #000001;
			padding: 1.5vw;
		}
		.email-input{
			padding: 0 1.5vw;
		}
	}
	.slide1{
		@include add-fixed-bg('static/img/join_email_list_bg.jpg');
	}
	.slide2{
		@include add-fixed-bg('static/img/out_of_box_prods.jpg');
	}
	.slide3{
		background-color: $primary-color;
		@include add-fixed-bg('static/img/free_shipping_bg.png');
	}
}
.headline {
	margin: 0.5em 2em;
}
.prod-renderer-wraper {
	margin-top: 4em;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 10px;
	@include prod_renderer_4_in_row();
}