@import 'mixins';
@import 'variables';

.carousel {
	.jumbotron {
		margin: 2em;
		background-color: white;
		opacity: 0.9;
		height: 200px;
		h5 {
			padding-top: 1vw;
			font-size: 26px;
			color: #000001;
			text-shadow: 2px;
			text-align: center;
		}
		p {
			font-size: 16px;
			color: #000001;
			padding: 1.5vw;
		}
		.email-input{
			padding: 0 1.5vw;
		}
	}
	.slide1{
		@include add-fixed-bg('static/img/join_email_list_bg.jpg');
	}
	.slide2{
		@include add-fixed-bg('static/img/out_of_box_prods.jpg');
	}
	.slide3{
		background-color: $primary-color;
		@include add-fixed-bg('static/img/free_shipping_bg.png');
	}
}
.headline {
	margin: 0.5em 2em;
}
.prod-renderer-wraper {
	margin-top: 4em;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 10px;
	.prod-box {
        grid-column: auto;
        justify-self: center;
        width: 90%;
        max-width: 350px;
        text-align: center;
        .prod-attr {
        	margin-top: 4px;
        	padding: 2vw;
        	h3 {
        		position: relative;
        		span {
        			display: inline-block;
        			width: 100%;
        			font-size: 13px;
        		}
	        	i {
	        		display: none;
	        		text-align: right;
	        		width: 40%;
	        		padding-left: 15px;
	        		position: absolute;
	        		right: 0px;
	        		top: 3px;
	        		font-size: 0.75em;
	        	}
	        	@include for-tablet-up {
	        		display: grid;
	        		grid-template-columns: 1fr;
	        		span {
	        			grid-row: 1;
	        			text-align: left;
	        			font-size: 16px;
	        		}
	        		i {
	        			grid-row: 2;
		        		display: inline-block;
	        			text-align: right;
	        			width: 100%;
	        			position: inherit;
	        		}
	        		p {
	        			font-size: 14px;
	        		}
	        	}
        	}
        	p {
        		font-size: 11px;
        	}
        	.cta-wrapper {
        		display: none;
	        	@include for-tablet-up {
	        		display: block;
	        	}
        	}
        	.btn-submit {
        		background-color: $blue-color;
        		&:hover {
        			background-color: $blue-color-hover;
        			color: #cccccc;
        		}
        	}
        	.btn-positive {
        		background-color: #ffffff;
        		border: 1px solid $third-color;
        		color: $primary-color;
        		padding: 8px 16px;
        		&:hover {
        			background-color: $third-color;
        		}
        	}
	        p {
	        	margin-bottom: 15px;
	        }
	        .btn-right {
	        	position: relative;
	        	right: 0px;
	        }
        }
	    @include for-tablet-up {
	        border: 1px solid $third-color;
	        .prod-attr {
	        	margin-top: 10px;
	        }
	        p {
	        	margin-top: 10px;
        	}
	    	
	    }
	}
}