{% extends "site/base-amp.html" %}

{% block add_scripts %}
{% endblock add_scripts %}

<style type="text/css">
{% block custom_css %}
	{{ get_resource_as_string('site/static/css/dist/brandPage.css') }}
{% endblock custom_css %}
</style>

{% block content %}
<div class="w100p brand-page-content">
	<img class="w100p brand-banner" src="{{ brand.banner }}" width="600" border="0" alt="{{ brand.title }}" />
	<h3 class="banner-title">{{ brand.title }} - products </h3>
	<hr />
	<div class="prod-renderer-wrapper">
		{% for product in brand.products %}
			{% set hide_cta = True %}
			{% set hide_stock = True %}
			{% set hide_desc = True %}
			{% include 'site/partials/prod_renderer_4_in_row.html' %}
		{% endfor %}
	</div>
</div>
{% endblock content %}